<main id="main" class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Dashboard</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
      <div class="btn-group me-2">
        <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
        <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
      </div>
      <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle d-flex align-items-center gap-1">
        <i class="fa-regular fa-calendar-days"></i>
        This week
      </button>
    </div>
  </div>
  <div id="container">
    {% for sensor in current_user.sensors %}
    <h3>{{ sensor.name }}</h3>
    {%if sensor.data%}
    <p>Value1: {{ sensor.data[-1].val1 }}</p>
    <p>Value2: {{ sensor.data[-1].val2 }}</p>
    <p>Battery: {{ sensor.data[-1].battery }}</p>
    <p>Solar Panel: {{ sensor.data[-1].solar }}</p>
    <p>Signal: {{ sensor.data[-1].signal }}</p>
    <p>Boot Count: {{ sensor.data[-1].bcount }}</p>
    {% endif %}
    {% endfor %}
  </div>
  <div hx-get="{{url_for('dashboard')}}" hx-target="#main" hx-trigger="every 5s" hx-swap="outerHTML"></div>
</main>
