<div class="container-fluid">
  <div class="row">
    <div class="sidebar border border-right col-md-3 col-lg-2 p-0 bg-body-tertiary">
      <div class="offcanvas-md offcanvas-end bg-body-tertiary" tabindex="-1" id="sidebarMenu"
        aria-labelledby="sidebarMenuLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="sidebarMenuLabel">DataApp!</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#sidebarMenu"
            aria-label="Close"></button>
        </div>
        <div class="offcanvas-body d-md-flex flex-column p-0 pt-lg-3 overflow-y-auto">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link d-flex align-items-center gap-2 active" aria-current="page"
                hx-get="{{url_for('dashboard')}}" hx-target="#main" hx-swap="outerHTML" href="#">
                <i class="fa-solid fa-house"></i>
                Dashboard
              </a>
            </li>
          </ul>

          <h6
            class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-body-secondary text-uppercase">
            <span>My Places</span>
            <a class="link-secondary" hx-get="{{url_for('add_place')}}" hx-target="#main" href="#"
              aria-label="Add a new place">
              <i class="fa-solid fa-plus"></i>
            </a>
          </h6>
          <ul class="nav flex-column mb-auto">
            {% for place in places %}
            <li id="place_{{place.id}}" class="nav-item">
              <a class="nav-link d-flex align-items-center gap-2" hx-get="{{url_for('place', place_id=place.id)}}"
                hx-target="#main" href="#">
                <i class="fa-solid fa-location-dot"></i>
                {{place.name}}
              </a>
              <ul class="nav flex-column mb-auto ms-4">
                {% for sensor in place.sensors %}
                <li id="sensor_{{sensor.id}}" class="nav-item align-items-right">
                  <a class="nav-link align-items-right" hx-get="{{url_for('sensor', sensor_id=sensor.id)}}"
                    hx-target="#main" href="#">
                    <i class="fa-solid fa-chart-line"></i>
                    {{sensor.name}}
                  </a>
                </li>
                {% endfor %}
              </ul>
            </li>
            {% endfor %}
          </ul>
          <h6
            class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-body-secondary text-uppercase">
            <span>WebCams</span>
            <a class="link-secondary" href="#" aria-label="Add a new report">
              <i class="fa-solid fa-plus"></i>
            </a>
          </h6>
          <ul class="nav flex-column mb-auto">
            <li class="nav-item">
              <!-- <a class="nav-link d-flex align-items-center gap-2" href="{{ url_for('webrtc') }}"> -->
              <a class="nav-link d-flex align-items-center gap-2" hx-get="{{url_for('webrtc')}}" hx-target="#main"
                href="#">
                <i class="fa-solid fa-video"></i>
                WNCC Aquaponics
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link d-flex align-items-center gap-2" href="#">
                <i class="fa-solid fa-video"></i>
                WebCam2
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link d-flex align-items-center gap-2" href="#">
                <i class="fa-solid fa-video"></i>
                WebCam3
              </a>
            </li>
          </ul>

          <hr class="my-3">

          <ul class="nav flex-column mb-auto">
            <li class="nav-item">
              {% if current_user.is_authenticated and current_user.id == 1 %}
              <a class="nav-link d-flex align-items-center gap-2" href="#">
                <i class="fa-solid fa-user-gear"></i>
                Settings
              </a>
              {% endif %}
            </li>
            <li class="nav-item">
              {% if current_user.is_authenticated %}
              <a class="nav-link d-flex align-items-center gap-2" href="{{ url_for('logout') }}">
                <i class="fa-solid fa-arrow-right-from-bracket"></i>
                Sign out
              </a>
              {% else %}
              <a class="nav-link d-flex align-items-center gap-2" href="#">
                <i class="fa-solid fa-address-card"></i>
                Register
              </a>
              <a class="nav-link d-flex align-items-center gap-2" href="#">
                <i class="fa-solid fa-arrow-right-to-bracket"></i>
                Sign in
              </a>
              {% endif %}
            </li>
          </ul>
        </div>
      </div>
    </div>
