<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Aquaponics WebCam</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group ms-2">
      <button type="button" class="btn btn-sm btn-outline-secondary">Button 1</button>
      <button type="button" class="btn btn-sm btn-outline-secondary">Button 2</button>
    </div>
  </div>
</div>
<div class="container text-start p-0 m-0">
  <div id="spinner-container">
    <div id="spinner" class="spinner-border text-primary" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
  <video id="video" autoplay playsinline class="img-fluid" style="max-height: 80vh; object-fit: contain;"></video>
</div>
